{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>
        <a href="{% url 'django_cs_archive:index' %}"
           style="text-decoration: none">{% trans 'Archive' %}</a>
    </h1>
    <div class="archive-nav">
        <h2>
            <a href="{% url 'django_cs_archive:year' year=month|date:'Y' %}">{{ month|date:"Y" }}</a> » <a href="{% url 'django_cs_archive:month' year=month|date:'Y' month=month|date:'m' %}">{{ month|date:"m" }}</a>
        </h2>
    </div>
    <ul class="day-list">
        <!-- date_list-ek HILABETEAK ditu hemen -->
        {% for day_date in date_list %}
            <li>
                <a href="{% url 'django_cs_archive:day' year=month|date:'Y' month=month|date:'m' day=day_date|date:'d' %}">
                    {{ day_date|date:"d" }} <!-- Urtarrila, Otsaila... -->
                </a>
            </li>
        {% empty %}
            <li>{% trans "No data this year." %}</li>
        {% endfor %}
    </ul>
{% endblock %}
