{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="archive-day">
        <h1>{% trans "This week" %}</h1>
        <div class="archive-nav">
            <h2>
                <a href="{% url 'django_cs_archive:index' %}">{% trans "Archive" %}</a>
            </h2>
        </div>
        <div class="archive-list">
            <ul>
                {% for object in object_list %}
                    <li>
                        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                    </li>
                {% empty %}
                    <li>{% trans "No data for this day." %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
