{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Archive" %}</h1>

    <h2><a href="{% url 'django_cs_archive:today' %}">{% trans "Today" %}</a></h2>

    <h2><a href="{% url 'django_cs_archive:this_week' %}">{% trans "This week" %}</a></h2>
        

<ul>
    <p>{% trans "Select a year:" %}</p>
    {% for year_date in date_list %}
        <li>
            <a href="{% url 'django_cs_archive:year' year=year_date|date:'Y' %}">
                {{ year_date|date:"Y" }}
            </a>
        </li>
    {% empty %}
        <li>{% trans "No data in the archive." %}</li>
    {% endfor %}
</ul>
{% endblock %}